.header-solve-page {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;    
    .pause-play-button {
        margin-top: 10px;
        margin-right: 30px;
    }
}