.big-box-element {
    width: 320px;
    aspect-ratio: 1;
    background-color: #EFAF77;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    
    .big-box-number {
        width: 96px;
        background-color: #F4A2A2;
        aspect-ratio: 1;
        text-align: center;
        align-content: center;
        font-size: 4rem;
        user-select: none;
        border: 2px solid #000;
        border-radius: 10px;
    }
    .big-box-number.none {
        background-color: #EFAF77;
    }
}

.big-box-element.done {
    .big-box-number.none {
        border:none;
    }
}