.small-box-number {
    width: 96px;
    background-color: #F4A2A2;
    aspect-ratio: 1;
    text-align: center;
    align-content: center;
    font-size: 4rem;
    user-select: none;
    border: 0.5vh solid #000;
    border-radius: 10px;
}   

.small-box-number.none {
    background-color: #EFAF77;
    color: rgba(0, 0, 0, 0);    
}