.progress-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .progress-bar {
    display: flex;
    width: 80%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
  }
  
  .progress-segment {
    flex: 1;
    background-color: #ff6868;
    margin: 0 1px;
    position: relative;
  }
  
  .progress-segment.active {
    background-color: #ffa07a;
  }
  
  .progress-indicator {
    width: 20px;
    height: 20px;
    background-color: #00ff00; /* Màu xanh của ô tròn */
    border-radius: 50%;
    position: absolute;
    top: -6px; /* Căn chỉnh ô tròn cho đúng */
    left: 50%;
    transform: translateX(-50%);
  }
  