.button {
    cursor: pointer;
    height: 35px;
    aspect-ratio: 300/80;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 10px;
    font-weight: bold;
    color: white;
    user-select: none;
}



